@font-face {
    font-family: 'Inter';
    src: url('../assets/Inter/static/Inter-Regular.ttf');
}

:root{
    --colorBlue: #051740;
    --gradientBlue: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.19) 100%), #051740;
}

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

header{
    padding: 2% 14%;
    background-color: #051740;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav{
    color: white;
    display: flex;
    justify-content: space-between;
    width: 50%;
}

nav a{
    display: flex;
    justify-content: end;
    font-family: 'Inter';
    color: white;
    text-decoration: none;
}

.footer-top {
    background: var(--gradientBlue);
    padding: 2% 14%;
    color: #FFF;
    font-family: 'Inter';
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-top img {
    width: 78px;
    padding-left: 2rem;
    cursor: pointer;
}

.footer-bottom {
    color: #FFF;
    font-family: 'Inter';
    background-color: var(--colorBlue);
    width: 100%;
    padding: 1% 14%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-bottom ul {
    list-style: none;
    display: flex;
       
}

.footer-bottom a {
    color: inherit;
    text-decoration: none;
    padding-left: 2rem; 
}

.contact-content{
    padding: 2% 14%;
}

.contact-content h2{
    font-family: 'Inter';
    font-weight: 100;
    padding: 2% 6%;
    font-size: 130%;
}

form{
    background-color: #EDEDED;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    margin-bottom: 2%;
    border-radius: 47px;
    align-items: center;
}

label{
    font-family: 'Inter';
    padding-bottom: 1%;
    width: 100%;
}

.contact-content input, textarea{
    margin-bottom: 2%;
    width: 100%;
    border: none;
    min-height: 30px;
}

.contact-content button{
    width: 30%;
    min-height: 30px;
    background: var(--colorBlue);
    border: none;
    border-radius: 6px;
    color: white;
}

.contact-content button:hover{
    background: #31487f;
    border: #051740;
}

.red{
    color: red;
}